var request {{REQUEST_NAME}}
if c.Request.ContentLength != 0 {
    err := c.ShouldBindJSON(&request)

    if err != nil {
        showError(c, err)
        return
    }
}

setFieldsFromURL(&request, c)