// Package {{PACKAGE}}
// @sparkle-generated
package {{PACKAGE}}

import (
    service {{MAIN_SERVICE_PACKAGE_PATH}}
	"github.com/gin-gonic/gin"
	"net/http"
	"encoding/json"
)

type Service struct {
    mainService *service.Service
	gin *gin.Engine
}

func New(gin *gin.Engine, service *service.Service) *Service {
	return &Service{
	    mainService: service,
		gin: gin,
	}
}

type Error struct {
	Message string
	Success int
}

func showError(c *gin.Context, err error) {
	c.JSON(http.StatusInternalServerError, Error{Message: err.Error(), Success: 0})
}

func (s *Service) Init() {
    {{ENDPOINTS}}
}